
/* || General styling */
* {
	font-family: bedrock;
	box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    background-image: url(./images/pizza2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

a {
    text-decoration: none;
}

.flex-container {
    display: flex;
}

.grid {
    display: grid;
}

.sticky {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0); /*translate value is based on the object size, allowing us to center it perfectly using transform */
    background-color: rgba(18, 18, 18, 1);
    width: 100%;
}

.item-hide {
    display: none;
}

.link {
    color: rgba(255, 127, 39, 1);
}

.link:hover {
    color: white;
    text-decoration: underline;
}

/* || Navigation */

/*
#navbar-logo {
    transition: 0.3s;
}

#navbar-logo:hover {
    transform: scale(1.2);
}
*/

.flex-item-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

#header {
    background-color: rgba(0, 0, 0, 0.7);
}

#header span {
    padding: 1vw;
}

#navbar-items {
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: minmax(60px, 60px)
}

#navbar-logo {
    padding: 10px;
    transition: 5s;
}

#navbar-items a {
    font-size: x-large;
}

#navbar-items p {
    text-align: center;
}

#return-top {
    position: fixed;
    right: 5vw;
    bottom: 5vh;
}

.button {
    background-color: rgba(255, 127, 39, 1);
    padding: 1vh;
    color: white;
    border-radius: 3px;
}

.button:hover {
    background-color: white;
    color: rgba(255, 127, 39, 1);
}

/* || Body */
#body {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: fit-content(1em);
    height: 100vh;
    width: 100vw;
    row-gap: 30vh;
}

.padding {
    padding-top: 60px;
}

.whitespace {
    display: hidden;
}

.quote {
    grid-column: 2;
    font-size: 1.5vw;
    color: white;
    padding: 10vh 0;
}

.quote-content {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2vh;
    border-radius: 3px;
    border: 1px solid rgba(255, 127, 39, 1);
}

.quote p {
    font-size: 2vw;
}

.option {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content, .background-filler1, .background-filler2 {
    background-color: rgba(18, 18, 18, 1);
}

.background-filler1 {
    grid-column: 1;
}

.background-filler2 {
    grid-column: 3;
}